# Copie este arquivo para .env e substitua os placeholders pelas suas chaves reais.
# OPENAI_API_KEY=sua_api_key_aqui
EMBEDDING_MODEL=text-embedding-3-small
DISABLE_LLM_API=0
APP_ENV=local

# NVIDIA
NVIDIA_API_KEY=sua_api_key_nvidia_aqui
LLM_MODEL=minimaxai/minimax-m3


# Openrouter
OPENROUTER_MODEL=minimax/minimax-m3
OPENROUTER_API_KEY=sua_api_key_openrouter_aqui

